<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>

<body>
    <a href="/prescription-list">Prescription</a>
    <a href="/medicine-list">Medicine</a>
    <a href="/patient-list">Patient</a>
    <a href="/payment-list">Payment</a>
    <a href="/adminlogout">Logout</a><br>
    <h1>Admin Page</h1>
    <%- body %>
</body>

</html>